@{
    ViewBag.Title = "Registrar Jugadores";
}

<h2>Registrar jugadores</h2>

<div>
    <label>Jugador 1</label>
    <input type="text" id="txtJugador1" class="form-control" />

    <label>Jugador 2</label>
    <input type="text" id="txtJugador2" class="form-control" />

    <br />

    <button id="btnRegistrar" class="btn btn-primary">Registrar</button>
</div>

<div id="resultado" style="margin-top:20px;"></div>

@section scripts {
    <script src="~/js/registroJugadores.js"></script>
}
